.statement-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.wrench-block {
	flex: 2;
	display: inline-flexbox;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.message-block {
	flex: 3;
	display: flex;
	width: 50%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: 50px;
	vertical-align: top;
	line-height: 2;
	position: relative;
	top: 0;
}

.overlay {
	display: inline-flexbox;
	width: 100%;
	height: 100%;
	flex-direction: column;
	position: static;
	text-align: center;
}

.hr {
	background-color: #c8c8c8;
	width: 100%;
	height: 1px;
	margin: 20px 0;
}

@media screen and (max-width: 715px) {
	.statement-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
		padding: 20px 0;
	}

	.message-block {
		flex: 3;
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		line-height: 2;
		position: relative;
		top: 0;
		padding: 0 10px;
	}

	.statement-title {
		font-size: 1.5rem;
	}

	.statement-slogan {
		font-size: 1.2rem;
	}

	.statement-msg {
		font-size: .85rem;
	}
}
